#cancel {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 18px;
}
.update {
  font-weight: 600;
  font-size: 13px;
  color: #f9f9f9;
  border: solid 1px transparent;
  border-radius: 3px;
  background-color: #f86810;
  padding: 0.375rem 0.75rem;
}
