.sticky {
  background-color: #7f9cc7;
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
}

.from {
  position: relative;
  bottom: -30px;
}

.amenities {
  display: flex;
}

.price {
  position: relative;
  bottom: -45px;
}

.breakfast {
  position: relative;

  right: -10px;
}
.wash {
  position: relative;

  right: -10px;
}
.parking {
  position: relative;

  right: -10px;
}
.garden {
  position: relative;

  right: -10px;
}
.club {
  position: relative;

  right: -10px;
}
.swim {
  position: relative;

  right: -10px;
}
.fitness {
  position: relative;

  right: -10px;
}
.clean {
  position: relative;

  right: -10px;
}

#book-button {
  position: absolute;
  white-space: nowrap;
  height: 35px;
  width: 11vw;
  right: 30px;
  bottom: 0px;
  font-weight: 600;
  font-size: 13px;
  color: white;
  border: solid 1px transparent;
  border-radius: 3px;
  background-color: #f86810;
}

button {
  font-weight: 600;
  font-size: 13px;
  color: white;
  border: solid 1px transparent;
  border-radius: 3px;
  background-color: #f86810;
}
