<div class="container">
    <div class="row mt-4">
     

        <!--Login container-->
        <div class="col-md-10 offset-md-1 rounded" style="border:1px black solid; background:transparent;">
            <h1 class="text-center pt-2">About Us</h1>
            <hr>
              
                <div class="form-group mt-5 pl-4 pr-4">
                   <p>The india's largest hotel information platform.
                  OurApp helps nearly a half a million travellers each year make every trip their best trip.
                  Use the ourApp site and app to browse hundreds of hotels. Whether planning or on a trip, travellers turn to ourApp
                   to compare low prices on hotels in the famous cities in India, as well as reserve tables
                    at great hotels.TripAdvisor, the ultimate travel companion, is available in  8 cities just for your 1 country.</p><br>
                    <b></b>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-5 rounded" style="border:1px black solid; background:transparent;">
            <h3 class="text-center pt-2">Currently Operates in</h3>
            <hr><ul>
                    <li><b>Kolkata</b><br>
                    <li><b>Mumbai</b><br>
                    <li><b>Delhi</b><br>
                    <li><b>Bengaluru</b><br>
                    <li><b>Trivandrum</b><br>
                    <li><b>Ahmedabad</b><br>
                    <li><b>Chennai</b><br>
                    <li><b>Hyderabad</b><br>
                    </ul>
            </form>
        </div>
      
        <!--Login container-->
        <div class="col-md-5 offset-md-2 rounded" style="border:1px black solid; background:transparent;">
            <h3 class="text-center pt-2">Upcoming cities..</h3>
            <hr> <ul>
                    <li><b>Pune</b><br></li>
                     <li><b>Panaji</b><br>
                     <li><b>Jamshedpur</b><br>
                     <li><b>Kochi</b><br>
                     <li><b>Chandigarh</b><br>
                     <li><b>Surat</b><br>
                     <li><b>Visakhapatnam</b><br>
                     <li><b>Raipur</b><br>
                   </ul>
        </div>

    </div>
</div>
                    
                </div>
                </div>
        </div>

    </div>
