<link rel="stylesheet" href="./../public/style/changePassword.css">
</head>
<div class="container p-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card border mt-5">


                <div class="card-header  float-left">
                    <h4>Update password</h4>
                </div>
                <div class="form-group card-body">
                    <div>

                        <form action="/updatePassword" method="POST">
                            <div>
                                <label for="Email">Email</label>
                                <input class="form-control" type="email" name="email" id="email"
                                    placeholder="abc@gmail.com" required />
                            </div><br>
                            <div>
                                <label for="newPassword">New password</label>
                                <input class="form-control" type="password" name="password" id="password" minlength="6"
                                    maxlength="10" placeholder="New password" required />
                            </div>
                            <br>
                            <div>
                                <label for="confirmPassword">Confirm password</label>
                                <input class="form-control" type="password" name="confirm" id="confirm" minlength="6"
                                    maxlength="10" placeholder="Confirm password" required />
                            </div><br>
                            <div class="text-center">
                                <button type="submit" class="update">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>