<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v4.11.6, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="./../public/assets/images/logo-122x97.png" type="image/x-icon">
    <meta name="description" content="Web Page Generator Description">




</head>

<body>


    <section class="cid-rJL5kUIcpi mbr-fullscreen mbr-parallax-background" id="header2-b">



        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);"></div>

        <div class="container align-center">
            <div class="row justify-content-md-center">
                <div class="mbr-white col-md-10">
                    <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-2">
                        Wanderlust</h1>

                    <p class="mbr-text pb-3 mbr-fonts-style display-5">
                        Find hundreds of hotels at once.</p>
                    <div class="mbr-section-btn"><a class="btn btn-md btn-black-outline display-4" href="#mainbody">Book
                            Hotel</a></div>
                </div>
            </div>
        </div>
        <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
            <a href="#mainbody">
                <i class="mbri-down mbr-iconfont"></i>
            </a>
        </div>
    </section>





    <input name="animation" type="hidden">


    <div id="mainbody">
        <link rel="stylesheet" href="./../public/style/homestyle.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
        <div class="row mt-5"></div>
        <div class="container" id="maindiv">
            <div class="row mt-3"></div>
            {{!-- <p class="text-center" id="h1heading">Search Hotel</p> --}}
            {{!-- <center>
            <h1 id="searchform">Wanderlust</h1>
        </center>
        <h2 class="text-center" id="h2heading">Find hundreds of hotels at once. </h2> --}}
            <div class="row mt-5"></div>
            <form action="/results" method="POST" class="pb-5">
                <cneter>
                    <div class="row mt-2 ml-4 mr-4 pr-5">
                        <div class="col-md-1"></div>
                        <div class="col-md-9">
                            <b></center><label>
                                    <center>Enter your destination city here</center>
                                </label></b><!-- Destination input -->
                            <input type="text" name="destination" id="destination" placeholder="Destination"
                                class="form-control" required>
                        </div>
                        <div class="col-md-2"><br>
                            <button id="searchButton" type="submit" class="btn"
                                style="vertical-align:middle"><span>Search
                                </span></button>
                        </div>
            </form>
            {{!-- <hr id="hr1">
        <center>
            <h2>Popular Hotels</h2>
        </center>
        <hr>
        <br> <!-- Showing the suggestion to the user --> --}}

            {{!-- carousel --}}



            {{!-- carousel end --}}

        </div>
    </div>
    </div>
</body>

<script src="./../public/assets/ytplayer/jquery.mb.ytplayer.min.js"></script>
<script src="./../public/assets/vimeoplayer/jquery.mb.vimeo_player.js"></script>
<script src="./../public/assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js"></script>
<script src="./../public/assets/slidervideo/script.js"></script>
<script src="./../public/assets/web/assets/jquery/jquery.min.js"></script>
<script src="./../public/assets/popper/popper.min.js"></script>
<script src="./../public/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="./../public/assets/smoothscroll/smooth-scroll.js"></script>
<script src="./../public/assets/dropdown/js/nav-dropdown.js"></script>
<script src="./../public/assets/dropdown/js/navbar-dropdown.js"></script>
<script src="./../public/assets/touchswipe/jquery.touch-swipe.min.js"></script>
<script src="./../public/assets/viewportchecker/jquery.viewportchecker.js"></script>
<script src="./../public/assets/parallax/jarallax.min.js"></script>
<script src="./../public/assets/tether/tether.min.js"></script>
<script src="./../public/assets/theme/js/script.js"></script>
<script src="./../public/assets/formoid/formoid.min.js"></script>
<script src="./../public/script/home.js"></script>