<body id="mainbody">
    <link rel="stylesheet" href="./../public/style/logoutstyle.css">
    <div class="row mt-5"></div>
    <div class="container" id="maindiv">
        <div class="row mt-7"></div>
        <h2 class="text-center" id="h2heading">Succefully Logged Out</h2>
        <h3 class="text-center" id="h3heading">Thankyou for visiting us. Now you have to login for further activities</h2>
         <hr id="hr1">
      <center>   <p>Click here to redirect to <a href="/">Home  </a></p></center>
        <div class="row mt-3"></div>
    </div>
    </div>
</body>