<link rel="stylesheet" href="./../public/style/signup.css">
<div class="container">
    <div class="row mt-5">
        <!--Register container-->
        <div class="col-md-5 rounded" style="border:1px black solid; background:transparent;">
            <h1 class="text-center pt-2">Signup</h1>
            <hr>


            <form action="/signup" method="POST" id="signup" onsubmit="return validateForm()">
                <div class="form-group mt-4 pl-4 pr-4">
                    <label for="name"><b>Name</b></label>
                    <input class="form-control" type="text" name="name" id="name" placeholder="Name">
                    <p class="error" style=" color:red"></p>
                </div>

                <div class="form-group pl-4 pr-4">
                    <label for="email"><b>E-mail</b></label>
                    <input class="form-control" type="email" name="email" id="email" placeholder="Email address">
                    <p class="error" style=" color:red"></p>
                </div>
                <div class="form-group pl-4 pr-4">
                    <label for="phoneNumber"><b>Phone</b></label>
                    <input class="form-control" type="text" name="phoneNumber" id="phoneNumber"
                        placeholder="Phone number">
                    <p class="error" style=" color:red"></p>
                </div>
                <div class="form-group pl-4 pr-4">
                    <label for="password"><b>Password</b></label>
                    <input class="form-control" type="password" name="password" id="password" placeholder="Password">
                    <p class="error" style=" color:red"></p>
                </div>
                <div class="form-group pl-4 pr-4">
                    <label for="cnfpassword"><b>Confirm Password</b></label>
                    <input class="form-control" type="password" name="cnfpassword" id="cnfpassword"
                        placeholder="Confirm Password">
                    <p class="error" style=" color:red"></p>
                </div>
                <div class="text-center pb-3 pt-3">
                    <input class="btn" id="signupbtn" type="submit" value="Signup" style="width: 15vw;">
                </div>
            </form>
        </div>

        <!--Login container-->
        <div class="col-md-5 offset-md-2 rounded" style="border:1px black solid; background:transparent;">
            <h1 class="text-center pt-2">Login</h1>
            <hr>

            <form action="/login" method="POST" id="login">
                <div class="form-group mt-5 pl-4 pr-4">
                    <label for="email"><b>E-mail</b></label>
                    <input class="form-control" type="email" name="email" id="email" required
                        placeholder="Email address">
                </div>
                <div class="form-group pl-4 pr-4">
                    <label for="password"><b>Password</b></label>
                    <input class="form-control" type="password" name="password" id="password" required
                        placeholder="Password">
                </div>
                <div class="text-center mt-5 pt-5">
                    <input class="btn" id="loginbtn" type="submit" value="Login" style="width: 15vw;">
                </div>
            </form>
        </div>

    </div>
</div>

<!--signup.js link-->
<script type="text/javascript" src="./../../public/script/signup.js"></script>