<link rel="stylesheet" href="./../public/style/team.css">
<div class="card-deck" style="margin-left: 100px;">
    <div class="card">
        <img src="./../public/images/dummy-profile-pic-male-300x300.jpg" class="card-img-top" alt="prasoon">
        <div class="card-body">
            <h5 class="card-title">Prasoon Chatterjee</h5>
            <a href="http://"><img src="./../public/images/icons8-github-24.png" alt="github profile"></a>
            <a href="http://"><img src="./../public/images/icons8-linkedin-24.png" alt="linkedin profile"></a>
        </div>
    </div>
    <div class="card">
        <img src="./../public/images/dummy-profile-pic-male-300x300.jpg" class="card-img-top" alt="ganesh">
        <div class="card-body">
            <h5 class="card-title">Ganesh Dasari</h5>
            <a href="http://"><img src="./../public/images/icons8-github-24.png" alt="github profile"></a>
            <a href="http://"><img src="./../public/images/icons8-linkedin-24.png" alt="linkedin profile"></a>
        </div>
    </div>
    <div class="card">
        <img src="./../public/images/dummy-profile-pic-male-300x300.jpg" class="card-img-top" alt="manoj">
        <div class="card-body">
            <h5 class="card-title">Manoj Kumar</h5>
            <a href="http://"><img src="./../public/images/icons8-github-24.png" alt="github profile"></a>
            <a href="http://"><img src="./../public/images/icons8-linkedin-24.png" alt="linkedin profile"></a>
        </div>
        <link rel="stylesheet" href="./../public/style/results.css">
    </div>
    <link rel="stylesheet" href="./../public/style/results.css">
    <link rel="stylesheet" href="./../public/style/results.css">
</div>
<div class="card-deck" style="margin-left: 18vw;">
    <div class="card">
        <img src="./../public/images/dummy-profile-pic-male-300x300.jpg" class="card-img-top" alt="varun">
        <div class="card-body">
            <h5 class="card-title">Varun Inapakurthi</h5>
            <a href="http://"><img src="./../public/images/icons8-github-24.png" alt="github profile"></a>
            <a href="http://"><img src="./../public/images/icons8-linkedin-24.png" alt="linkedin profile"></a>
        </div>
    </div>
    <div class="card">
        <img src="./../public/images/dummy-profile-pic-male-300x300.jpg" class="card-img-top" alt="Haroon">
        <div class="card-body">
            <h5 class="card-title">Haroon Sidheekhi KT</h5>
            <a href="http://"><img src="./../public/images/icons8-github-24.png" alt="github profile"></a>
            <a href="http://"><img src="./../public/images/icons8-linkedin-24.png" alt="linkedin profile"></a>
        </div>
    </div>
</div>